<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlyf.thirdparty.dao.miniprogram.MtStoreDao">


    <!--获取门店商品-->
    <select id="GetStoreGoodsInfo" parameterType="java.lang.String" resultType="com.hlyf.thirdparty.domain.StoreGoodsInfo">
        <![CDATA[
        		{call p_hpCallJsonToSql_w(
        					#{callJsonText,mode=IN,jdbcType=VARCHAR}
        					)
        		}
    	]]>
    </select>

    <!--获取门店列表-->
    <select id="GetStoreInfo" parameterType="java.lang.String" resultType="com.hlyf.thirdparty.domain.StoreInfo">
        <![CDATA[
        		{call p_hpCallJsonToSql_w(
        					#{callJsonText,mode=IN,jdbcType=VARCHAR}
        					)
        		}
    	]]>
    </select>


    <!--小程序总部 查询临时门店seltempShop-->
    <select id="GetTempShop" parameterType="java.lang.String" resultType="com.hlyf.thirdparty.domain.TempShop">
        <![CDATA[
        		{call p_hpCallJsonToSql_w(
        					#{callJsonText,mode=IN,jdbcType=VARCHAR}
        					)
        		}
    	]]>
    </select>

    <select id="GetShop" parameterType="java.lang.String" resultType="com.hlyf.thirdparty.domain.Shop">
        <![CDATA[
        		{call p_hpCallJsonToSql_w(
        					#{callJsonText,mode=IN,jdbcType=VARCHAR}
        					)
        		}
    	]]>
    </select>



</mapper>